@import url("https://fonts.googleapis.com/css2?family=Roberto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", "Roboto", "Roboto Mono", sans-serif;
}
nav {
  height: 80px;
  display: flex;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vh;
  overflow-x: hidden;
}
img {
  width: 100%;
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav__links {
  display: flex;
}
.nav__links {
  margin-left: 8px;
  margin-bottom: 12px;
}
.nav__links a,
.nav__links a:visited {
  color: black;
  white-space: nowrap;

}

.logo {
  width: 60px;
}
ul {
  display: flex;
}
li {
  list-style: none;
  margin-left: 120px;
  margin-top: 14px;
  font-weight: 500;
}
h2 {
  font-size: 22px;
  letter-spacing: 2px;
  color: black;
  font-weight: 1000;
  text-align: center;
  margin-left: 20px;
  outline: none;
}
.btn__menu {
  white-space: nowrap;
  text-align: center;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 8px 28px;
  border-radius: 78px;
  border: none;
  width: 100px;
  height: 40px;
}

.btn__menu:hover {
  background-color: darkblue;
}

.fa-bars {
  display: none;
}

@media (max-width: 550px) {
  .fa-bars {
    display: block;
  }
}
